.gym {
  display: flex;
  justify-content: center;
}

.gym__wrapper {
  display: grid;
  padding-left: 45px;
  padding-right: 45px;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  grid-template-columns: 1fr auto;
  padding-top: 121px;
  gap: 85px;
  padding-bottom: 234px;

  @media (max-width: $vp-1199) {
    display: block;
    padding-top: 101px;
    padding-bottom: 183px;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 64px;
    padding-bottom: 71px;
  }
}

.gym__text {
  padding-left: 60px;
  padding-top: 38px;

  @media (max-width: $vp-1199) {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 33px;
  }

  @media (max-width: $vp-767) {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }
}

.gym__text h3 {
  font-family: $alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  letter-spacing: 0.03em;
  color: $sapphire;
  margin-bottom: 8px;

  @media (max-width: $vp-1199) {
    text-align: center;
    font-size: 42px;
    line-height: 50px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 38px;
    text-align: start;
    margin-bottom: 6px;
  }
}

.gym__text h4 {
  font-family: $roboto;
  font-weight: 400;
  font-size: 18px;
  color: $sapphire;
  line-height: 150%;
  margin: 0;
  margin-bottom: 37px;

  @media (max-width: $vp-1199) {
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 33px;
  }

  @media (max-width: $vp-767) {
    font-size: 18px;
    line-height: 150%;
    text-align: start;
    margin-bottom: 23px;
  }
}

.gym__text p {
  font-family: $roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $sapphire;
  margin: 0;
  margin-bottom: 10px;

  @media (max-width: $vp-1199) {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    width: 75%;
  }

  @media (max-width: $vp-767) {
    text-align: start;
    width: 90%;
  }
}

.gym__text p:nth-of-type(even) {
  @media (max-width: $vp-1199) {
    display: none;
  }
}

.gym__photo {
  @media (max-width: $vp-767) {
    margin-bottom: 40px;
  }
}

.gym__photo img {
  user-select: none;

  @media (max-width: $vp-1199) {
    min-width: 678px;
    width: 100%;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
    width: 100%;
    object-fit: contain;
  }
}

.gym__video {
  position: absolute;
  user-select: none;
  top: 54%;
  right: 32.3%;

  @media (max-width: $vp-1199) {
    top: 68.7%;
    right: 32.7%;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    position: static;
  }
}

.gym__link {
  max-height: min-content;
  width: fit-content;
}

.gym__video-container {
  position: relative;
  min-width: 340px;
  max-width: 100%;
  height: 228px;

  @media (max-width: $vp-1199) {
    min-width: 266px;
    height: unset;
  }
}

.gym__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-default-white;
  width: 72px;
  height: 72px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  user-select: none;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  border-radius: 50%;

  @media (max-width: $vp-1199) {
    width: 52px;
    height: 52px;
  }
}

.gym__button:hover {
  opacity: 0.8;
}

.gym__button:focus {
  opacity: 0.8;
}

.gym__button:active {
  opacity: 0.6;
}

.gym__button svg {
  z-index: 3;
  position: relative;
  top: 2px;
  left: 3px;

  @media (max-width: $vp-1199) {
    max-width: 10px;
    top: 0;
    left: 0;
    max-height: 10px;
  }
}

.gym__button::before {
  content: "";
  width: 100px;
  position: absolute;
  height: 100px;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: block;
  border: 2px solid transparent;
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2)) border-box;
  mask: linear-gradient($color-default-white 0 0) padding-box, linear-gradient($color-default-white 0 0);
  mask-composite: exclude;

  @media (max-width: $vp-1199) {
    width: 73px;
    height: 73px;
  }
}

.gym__video-iframe {
  min-width: 100%;
  display: none;
  border: none;
}

.gym__preview img {
  @media (max-width: $vp-1199) {
    width: 266px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
  }
}
